body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    
    text-align: center;
    color: slateblue;
}
h2{
    text-align: center;
    color: chocolate;
    
}
h3{
    text-align: center;
    color: teal;
    
}
img{
    display: block;
    margin: auto;
    width:15%;
    height: 30%;
    border-radius: 50%;
}
p{
    padding: 3rem;
    line-height: normal;
    border: 1px solid;
    background-color: whitesmoke;
}
section{
    margin: auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
div{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    background-color: lightcyan;
}
article{
    max-width: 50%;
    margin: auto;
    text-align: center;
    padding: 1rem;
    background-color: lightyellow;
}
